<tr>
  <td>
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.get_post_image(50,50) %>
    <% end %>
  </td>
  <td><%= post.user.name %></td>
  <td><%= post.title %></td>
  <td><%= post.body %></td>
  <td class="favorite_btn_<%= post.id %>"><%= render 'favorite', post: post %></td>
  <td>コメント数<%= post.comments.count %></td>
  <% if current_user.id == post.user.id %>
    <td><%= link_to "Edit", edit_post_path(post.id) %> </td>
    <td><%= link_to "Destroy", post_path(post.id),method: :delete %> </td>
  <% end %>
</tr>
