<div class="col-3">
  <%= render "public/users/info", user: current_user %>
</div>

<div>
  <h2>Post Editing</h2>
  <%= render 'error', new_post: @post %>
  <%= form_with model: @post, method: :patch do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :body %>
      <%= f.text_field :body %>
    </div>
    
    <div>
      <%= f.label :image %>
      <%= f.file_field :image, accept: "image/*" %>      
    </div>
    
    <div>
      <%= f.submit "Update Post" %>
    </div>
    
  <% end %>
  
</div>
