<div class="col-lg-3">
  <%= render "public/users/info", user: current_user %>
  <%= render "public/posts/newpost", new_post: @new_post %>
</div>

<div class="col-lg-9">
  <%= render 'public/posts/error', new_post: @new_post %>
  <h2>Results Index</h2>
  <table class="table table-responsive">
    <% if @object == "User" %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %> </td>
        </tr>
      <% end %>
    </tbody>
    <% else %>
      <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
      </tr>
      <% end %>
    </tbody>
    <% end %>
  </table>
</div>