<div class="col-3">
  <%= render "info", user: @user %>
  <%= render "public/posts/newpost", new_post: @new_post %>
</div>
  
<div class="col-9">
  <h2>ユーザー詳細</h2>
  <%= render 'public/posts/error', new_post: @new_post %>
  <table class="table">
    <thead>
      <tr>
        <th>投稿画像</th>
        <th>タイトル</th>
        <th>内容</th>
      </tr>
    </thead>
    <tbody>
      <% @user.posts.each do |post| %>
        <tr>
          <td>
            <%= link_to post_path(post.id) do %>
              <%= image_tag post.get_post_image(50,50) %>
            <% end %>
          </td>
          <td><%= post.title %></td>
          <td><%= post.body %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

